<div class="container"> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">World Cup 2018 <span class="sr-only">(current)</span></a>
                </li> 

                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Player</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     
                    <% for (let i of users) { %>
                    
                    <% let aLink =  i.name %>
                        <a class="dropdown-item" href=<%- i.url%> ><%- i.name%> </a>
                    <% } %> 
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chart">Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://worldcup.aarhof.eu/#/" target="_blank">Link WorldCup</a>
                </li>

                
            </ul>
        </div>
    </nav>
</div>